<section class="form-section pad-70">
    <div class="text">
        <h3>
            Fique por dentro da melhor maneira de investir seu dinheiro!
        </h3>
        <p>A Capital Equilibrado é uma empresa de investimentos que oferece soluções personalizadas focadas na segurança e no crescimento sustentável do patrimônio de seus clientes. Com uma abordagem estratégica e diversificada, garantimos rentabilidade e mitigação de riscos. Nossa equipe de especialistas assegura uma gestão profissional, transparente e ética.</p>

    </div>


    <form>
        <label for="name">NOME </label>
        <input id="name" />
        <label for="e-mail">E-MAIL </label>
        <input id="e-mail"/>
        <btn-primary btn-text="inscreva-se">INSCREVA-SE</btn-primary>

    </form>
</section>