<app-header></app-header>

<main>
    <section class="main section pad-70">
        <div class="headline">
            <span>A MELHOR CONSULTORIA PARA O SEUS MELHORES INVESTIMENTOS</span>
            <h1>CAPITAL EQUILIBRADO - A CONSULTORIA QUE VOCÊ BUSCA PARA SEUS INVESTIMENTOS</h1>

        </div>

    </section>
    <img ngSrc="https://img.lovepik.com/bg/20240416/Elevate-Business-Investment-and-Growth-with-a-Purple-Trading-Concept_5839219_wh860.jpg!/fw/860"
        width="1500" height="750">
    <section class="benefit-section pad-70">
        <div class="benefit-data">
            <h2>
                95% das <br />
                pessoas


            </h2>



        </div>
        <p><b>Não sabem como investir seu dinheiro da maneira correta</b></p>

    </section>
<section class="cta-section">
    <btn-primary btn-text="Fale com nossos especialistas"> </btn-primary>
</section>
<newsletter-form> </newsletter-form>

</main>
